In [2]:
import pandas as pd

In [10]:
kickoff= pd.read_csv('./data_files/KICKOFF.csv',header=2)
s1_w1 = pd.read_csv('./data_files/S1Wk1.csv',header=2)
s1_w2 = pd.read_csv('./data_files/S1 Wk2.csv',header=2)
s1_w3 = pd.read_csv('./data_files/S1 Wk3.csv',header=2)
s1_Major = pd.read_csv('./data_files/S1 Major.csv',header=2)
s2_w1 = pd.read_csv('./data_files/S2 Wk1.csv',header=2)
s2_w2 = pd.read_csv('./data_files/S2 Wk2.csv',header=2)
s2_w3 = pd.read_csv('./data_files/S2 Wk3.csv',header=2)
s2_Major = pd.read_csv('./data_files/S2 Major.csv',header=2)
s3_w1 = pd.read_csv('./data_files/S3 Wk1.csv',header=2)
s3_w2 = pd.read_csv('./data_files/S3 Wk2.csv',header=2)
s3_w3 = pd.read_csv('./data_files/S3 Wk3.csv',header=2)
s3_Major = pd.read_csv('./data_files/S3 Major.csv',header=2)
s4_w1 = pd.read_csv('./data_files/S4 Wk1.csv',header=2)
s4_w2 = pd.read_csv('./data_files/S4 Wk2.csv',header=2)
s4_w3 = pd.read_csv('./data_files/S4 Wk3.csv',header=2)
s4_Major = pd.read_csv('./data_files/S4 Major.csv',header=2)
champs = pd.read_csv('./data_files/Champs HP.csv',header=3)

In [11]:
def fix_data(data):


    data = data[['Map', 'Team', 'P1', 'P2', 'P3', 'P4', 'P5', 'P1.1', 'P2.1', 'P3.1',
            'P4.1', 'P5.1', 'P1.2', 'P2.2', 'P3.2', 'P4.2', 'P5.2', 'Total']]

    return data

In [114]:
global data
data = fix_data(s4_Major)

In [116]:
data[:134]

,Map,Team,P1,P2,P3,P4,P5,P1.1,P2.1,P3.1,P4.1,P5.1,P1.2,P2.2,P3.2,P4.2,P5.2,Total
0,Tuscan,Ultra,21,2,26,27,25,14,30,4,26,34,20,20,NaN,NaN,NaN,249
1,Tuscan,Royal Ravens,21,40,15,21,12,37,8,43,27,5,19,2,NaN,NaN,NaN,250
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,P1,P2,P3,P4,P5,P1,P2,P3,P4,P5,P1,P2,P3,P4,P5,Total
4,Berlin,Ultra,40,10,41,12,21,22,24,23,2,13,12,30,NaN,NaN,NaN,250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129,Berlin,Thieves,31,30,8,55,27,20,34,40,5,NaN,NaN,NaN,NaN,NaN,NaN,250
130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,NaN,NaN,P1,P2,P3,P4,P5,P1,P2,P3,P4,P5,P1,P2,P3,P4,P5,Total
132,Tuscan,Subliners,3,24,13,18,34,0,33,7,31,NaN,NaN,NaN,NaN,NaN,NaN,163
133,Tuscan,Thieves,32,29,33,28,15,57,10,41,5,NaN,NaN,NaN,NaN,NaN,NaN,250

In [117]:
rows = []
for x in range(0,134,4):
    rows.append(x)
    rows.append(x+1)

data = data.iloc[rows]

In [118]:
final_data = final_data.append(data, ignore_index=True)
final_data

,Map,Team,P1,P2,P3,P4,P5,P1.1,P2.1,P3.1,P4.1,P5.1,P1.2,P2.2,P3.2,P4.2,P5.2,Total
0,Bocage,Mutineers,19,23,11,13,34,10,17,31,15,22,19,11,25,NaN,NaN,250
1,Bocage,Guerrillas,3,23,20,30,5,10,31,12,31,24,19,28,10,NaN,NaN,246
2,Berlin,Mutineers,25,12,54,0,12,26,33,44,31,13,NaN,NaN,NaN,NaN,NaN,250
3,Berlin,Guerrillas,18,32,0,41,11,22,17,11,9,1,NaN,NaN,NaN,NaN,NaN,162
4,Bocage,Surge,27,38,5,30,8,30,2,8,38,16,29,19,NaN,NaN,NaN,250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,Bocage,Thieves,12,0,28,21,15,20,38,8,23,32,8,0,NaN,NaN,NaN,205
736,Berlin,Subliners,9,10,43,0,0,33,12,10,23,NaN,NaN,NaN,NaN,NaN,NaN,140
737,Berlin,Thieves,31,30,8,55,27,20,34,40,5,NaN,NaN,NaN,NaN,NaN,NaN,250
738,Tuscan,Subliners,3,24,13,18,34,0,33,7,31,NaN,NaN,NaN,NaN,NaN,NaN,163
739,Tuscan,Thieves,32,29,33,28,15,57,10,41,5,NaN,NaN,NaN,NaN,NaN,NaN,250

In [122]:
final_data.to_csv('./data_files/HP_final.csv', index=False)

In [4]:
final = pd.read_csv('./data_files/HP_final.csv')

In [12]:
def fix_data(data):


    data = data[['Map', 'Team', 'P1', 'P2', 'P3', 'P4', 'P5', 'P1.1', 'P2.1', 'P3.1',
            'P4.1', 'P5.1', 'P1.2', 'P2.2', 'P3.2', 'P4.2', 'P5.2', 'Total']]

    return data 


global data
data = fix_data(champs)

In [21]:
data[:102]

,Map,Team,P1,P2,P3,P4,P5,P1.1,P2.1,P3.1,P4.1,P5.1,P1.2,P2.2,P3.2,P4.2,P5.2,Total
0,Tuscan,Surge,32,11,47,28,32,50,7,20,23,NaN,NaN,NaN,NaN,NaN,NaN,250
1,Tuscan,Royal Ravens,5,40,0,17,14,6,23,31,12,NaN,NaN,NaN,NaN,NaN,NaN,148
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,P1,P2,P3,P4,P5,P1,P2,P3,P4,P5,P1,P2,P3,P4,P5,Total
4,Berlin,Surge,39,0,18,10,27,30,27,48,10,10,31,NaN,NaN,NaN,NaN,250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,Gavutu,FaZe,30,35,0,26,0,15,21,7,53,0,NaN,NaN,NaN,NaN,NaN,187
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,NaN,NaN,P1,P2,P3,P4,P5,P1,P2,P3,P4,P5,P1,P2,P3,P4,P5,Total
100,Tuscan,Thieves,12,5,36,43,28,35,5,38,5,43,NaN,NaN,NaN,NaN,NaN,250
101,Tuscan,FaZe,26,34,12,8,27,16,38,11,40,0,NaN,NaN,NaN,NaN,NaN,212

In [22]:
rows = []
for x in range(0,102,4):
    rows.append(x)
    rows.append(x+1)

data = data.iloc[rows]

In [23]:
data

,Map,Team,P1,P2,P3,P4,P5,P1.1,P2.1,P3.1,P4.1,P5.1,P1.2,P2.2,P3.2,P4.2,P5.2,Total
0,Tuscan,Surge,32,11,47,28,32,50,7,20,23,NaN,NaN,NaN,NaN,NaN,NaN,250
1,Tuscan,Royal Ravens,5,40,0,17,14,6,23,31,12,NaN,NaN,NaN,NaN,NaN,NaN,148
4,Berlin,Surge,39,0,18,10,27,30,27,48,10,10,31,NaN,NaN,NaN,NaN,250
5,Berlin,Royal Ravens,8,51,31,20,22,24,21,3,45,17,5,NaN,NaN,NaN,NaN,247
8,Tuscan,Thieves,5,33,25,8,36,18,26,12,10,8,NaN,NaN,NaN,NaN,NaN,181
9,Tuscan,Breach,26,3,30,35,18,15,14,35,39,35,NaN,NaN,NaN,NaN,NaN,250
12,Berlin,Thieves,18,33,21,34,28,39,4,27,25,21,NaN,NaN,NaN,NaN,NaN,250
13,Berlin,Breach,31,9,24,0,7,16,40,26,13,0,NaN,NaN,NaN,NaN,NaN,166
16,Bocage,Ultra,2,0,28,23,8,7,5,36,22,19,12,0,NaN,NaN,NaN,162
17,Bocage,OpTic,7,40,24,5,34,14,32,16,14,16,3,0,NaN,NaN,NaN,205
20,Tuscan,Ultra,14,28,12,24,34,10,29,48,18,4,29,NaN,NaN,NaN,NaN,250
21,Tuscan,OpTic,32,4,37,24,13,24,14,2,24,37,14,NaN,NaN,NaN,NaN,225
24,Gavutu,FaZe,19,2,39,39,21,0,5,0,30,41,33,14,NaN,NaN,NaN,243
25,Gavutu,Subliners,20,45,0,11,37,54,34,27,15,2,2,3,NaN,NaN,NaN,250
28,Tuscan,FaZe,27,15,31,33,3,36,8,18,30,27,22,NaN,NaN,NaN,NaN,250
29,Tuscan,Subliners,19,28,2,11,45,19,26,32,14,11,3,NaN,NaN,NaN,NaN,210
32,Gavutu,Royal Ravens,18,8,7,54,38,55,6,19,0,41,4,NaN,NaN,NaN,NaN,250
33,Gavutu,Subliners,13,27,41,0,13,2,41,17,53,7,0,NaN,NaN,NaN,NaN,214
36,Berlin,Royal Ravens,24,11,12,22,10,14,35,20,23,2,0,NaN,NaN,NaN,NaN,173
37,Berlin,Subliners,19,25,41,25,19,33,6,28,8,13,33,NaN,NaN,NaN,NaN,250
40,Tuscan,Breach,13,30,20,8,30,7,27,18,8,9,NaN,NaN,NaN,NaN,NaN,170
41,Tuscan,Ultra,35,14,21,33,11,38,12,30,35,21,NaN,NaN,NaN,NaN,NaN,250
44,Berlin,Breach,42,17,12,8,12,0,49,26,8,22,20,2,NaN,NaN,NaN,218
45,Berlin,Ultra,2,24,35,31,17,52,0,27,21,1,33,7,NaN,NaN,NaN,250
48,Tuscan,FaZe,9,17,25,50,18,19,48,3,40,19,0,NaN,NaN,NaN,NaN,248
49,Tuscan,Surge,36,30,24,5,27,36,0,40,8,30,14,NaN,NaN,NaN,NaN,250
52,Berlin,FaZe,27,12,44,2,15,52,19,0,32,12,29,0,NaN,NaN,NaN,244
53,Berlin,Surge,18,26,3,42,22,0,17,49,2,28,24,19,NaN,NaN,NaN,250
56,Gavutu,OpTic,14,7,9,6,16,2,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58
57,Gavutu,Thieves,28,44,41,49,22,44,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,250
60,Tuscan,Surge,40,22,38,2,26,1,53,18,31,0,19,NaN,NaN,NaN,NaN,250
61,Tuscan,Ultra,3,25,6,42,25,42,0,19,23,46,7,NaN,NaN,NaN,NaN,238
64,Berlin,Surge,46,44,30,43,14,3,16,36,3,1,14,NaN,NaN,NaN,NaN,250
65,Berlin,Ultra,2,1,24,5,7,49,36,13,34,34,0,NaN,NaN,NaN,NaN,205
68,Tuscan,Subliners,3,48,19,16,15,29,19,35,32,13,8,NaN,NaN,NaN,NaN,237
69,Tuscan,OpTic,43,0,35,26,35,9,29,17,13,27,16,NaN,NaN,NaN,NaN,250
72,Tuscan,FaZe,13,0,30,45,9,25,17,46,14,40,11,NaN,NaN,NaN,NaN,250
73,Tuscan,Thieves,34,48,13,1,30,19,20,0,32,12,0,NaN,NaN,NaN,NaN,209
76,Berlin,FaZe,28,4,0,12,12,0,14,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71
77,Berlin,Thieves,20,38,57,12,13,51,25,34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,250
80,Tuscan,Surge,31,57,29,15,42,3,29,18,26,NaN,NaN,NaN,NaN,NaN,NaN,250
81,Tuscan,OpTic,9,0,15,36,0,30,20,24,6,NaN,NaN,NaN,NaN,NaN,NaN,140
84,Berlin,Surge,9,50,24,0,5,9,10,42,22,25,54,NaN,NaN,NaN,NaN,250
85,Berlin,OpTic,35,1,31,34,29,41,19,1,18,11,0,NaN,NaN,NaN,NaN,220
88,Bocage,FaZe,11,15,6,0,16,11,41,8,5,36,1,NaN,NaN,NaN,NaN,150
89,Bocage,Surge,11,27,36,35,27,19,9,40,38,5,3,NaN,NaN,NaN,NaN,250
92,Berlin,FaZe,28,43,20,26,24,10,19,18,30,11,21,NaN,NaN,NaN,NaN,250
93,Berlin,Surge,5,3,28,17,12,38,23,18,15,31,0,NaN,NaN,NaN,NaN,190
96,Gavutu,Thieves,3,6,49,17,43,32,32,46,0,22,NaN,NaN,NaN,NaN,NaN,250
97,Gavutu,FaZe,30,35,0,26,0,15,21,7,53,0,NaN,NaN,NaN,NaN,NaN,187
100,Tuscan,Thieves,12,5,36,43,28,35,5,38,5,43,NaN,NaN,NaN,NaN,NaN,250
101,Tuscan,FaZe,26,34,12,8,27,16,38,11,40,0,NaN,NaN,NaN,NaN,NaN,212

In [25]:
#final.append(data,ignore_index=True)

,Map,Team,P1,P2,P3,P4,P5,P1.1,P2.1,P3.1,P4.1,P5.1,P1.2,P2.2,P3.2,P4.2,P5.2,Total
0,Bocage,Mutineers,19,23,11,13,34,10,17,31,15,22,19,11,25,NaN,NaN,250
1,Bocage,Guerrillas,3,23,20,30,5,10,31,12,31,24,19,28,10,NaN,NaN,246
2,Berlin,Mutineers,25,12,54,0,12,26,33,44,31,13,NaN,NaN,NaN,NaN,NaN,250
3,Berlin,Guerrillas,18,32,0,41,11,22,17,11,9,1,NaN,NaN,NaN,NaN,NaN,162
4,Bocage,Surge,27,38,5,30,8,30,2,8,38,16,29,19,NaN,NaN,NaN,250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
787,Berlin,Surge,5,3,28,17,12,38,23,18,15,31,0,NaN,NaN,NaN,NaN,190
788,Gavutu,Thieves,3,6,49,17,43,32,32,46,0,22,NaN,NaN,NaN,NaN,NaN,250
789,Gavutu,FaZe,30,35,0,26,0,15,21,7,53,0,NaN,NaN,NaN,NaN,NaN,187
790,Tuscan,Thieves,12,5,36,43,28,35,5,38,5,43,NaN,NaN,NaN,NaN,NaN,250
791,Tuscan,FaZe,26,34,12,8,27,16,38,11,40,0,NaN,NaN,NaN,NaN,NaN,212

In [26]:
data.to_csv('./data_files/Champs_final.csv', index=False)